#room{
    border: 5px solid rgb(138, 70, 255);
    position: relative;
    width: 50%;
}


#ball{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:forestgreen;
    border-radius: 50%;
    position: relative;
}