

#PAGE{
   position: relative;
   height: 100%;
}


#Head1{
    background-color: rgb(216, 216, 216);
    height: 150px;
   
    
 }
 
 #NAV {
     background-color: rgb(221, 221, 221);
     float: left;
     height: 600px;
     width: 200px;
 }
 
 #MAIN {
     background-color: rgb(197, 197, 197);
     width: 100%;
     height: 100%;
     position: relative;
  
 }

#div1{
   background-color: rgb(48, 162, 122);
   width: 460px;
   height: 230px;
   float: left;
   margin: 1cm;
}

#div2{
   background-color: rgb(125, 179, 162);
   width: 460px;
   height: 230px;
   float: left;
   margin: 1cm;
}

#div3{
   background-color: rgb(143, 231, 135);
   width: 460px;
   height: 230px;
   float: left;
   margin: 1cm;
}

#div4{
   background-color: rgb(152, 215, 76);
   width: 460px;
   height: 230px;
   float: left;
   margin: 1cm;
}

#div5{
   background-color: rgb(152, 215, 76);
   width: 460px;
   height: 230px;
   float: left;
   margin: 1cm;
   margin-left: 16.6%;
}



#FOOT {
   background-color: rgb(74, 74, 74);
   width: auto;
   height: 200px;
   
}



 #div1 h1{
   background-color:darkgreen;
   text-align: center;
   height: 50px;
   margin: 3%;
   
   
 }

 #div2 h1{
   background-color: darkseagreen;
   text-align: center;
   height: 50px;
   margin: 3%;
 }

 #div3 h1{
   background-color: darkolivegreen;
   text-align: center;
   height: 50px;
   margin: 3%;
 }

 #div4 h1{
   background-color: mediumseagreen;
   text-align: center;
   height: 50px;
   margin: 3%;
 }
 
 #div5 h1{
   background-color: mediumseagreen;
   text-align: center;
   height: 50px;
   margin: 3%;
 }

 footer{
   background-color: yellowgreen;
   width: 100%;
   height: 60px;
   position: absolute;
   top: 100%;
 }


 #H2{
   text-align: center;
   padding: 2%;
   margin-left: 1cm;
 }

 #H4{
   text-align: center;
   margin-left: 1cm;
   margin-bottom: 10%;
   te
 }

 a{
   text-decoration: none;
 }
 
 ul{
   list-style: none;
 }

 p{
   margin: 2%;
   text-align: center;
 }

 img{
   width: 100px;
   height: 100px;
   margin: 3%;
 }

