@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* hero */

.site-hero{
display: flex;
background-image: url(./assets/branding/liquid.jpg);
height: 80vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
box-shadow: 5px 5px rgb(0, 0, 0);
justify-content: center;
align-items: center;
}

.hero-text{
font-family: 'Bebas Neue', cursive;
font-style: italic;
font-weight: bolder;
color: rgb(72, 87, 187);
font-size: 3em;
text-align: center;
}

#div1{
    background-color: white;
    width: 1300px;
    
}

#p1{
font-size: 15px;
padding: 2%;
}

#head2{
    padding: 2%;
}

br{
    text-decoration: line-through;
}

#submit{
    background-color: rgb(142, 142, 142);
    border:none; 
    border-radius:10px; 
    padding:15px;
    width: 5cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
}

#submit:hover{
    background-color: rgb(122, 41, 163);
    transition-duration: 0.7s;
    
}

#GRID{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    align-items: center;
    margin-left: 13%;

}

img{
    width: 100px;
}

.cont{
margin-left: 28%;
}

.row{
 

}



.col{
display: inline-block;
justify-content: center;
padding: 20px;

}

p{
    text-align: center;
    color: darkorange;
}