body {
    height: 1500px;
    position: relative;
}

li{ 
    display: inline;
    padding: 10px;
    list-style: none;
}

a {
    text-decoration: none;
}

#nav1{
    background-color: rgb(155, 189, 121);
    position: fixed;
    width: 100%;
    padding: 1%;
}

a:hover{
    background-color: green;
}