li{ 
    padding: 10px;
    list-style: none;
}

a {
    text-decoration: none;
}

nav{
    background-color: rgb(163, 200, 126);
    padding: 3%;
}

#Home{
    margin-right: auto;
}

a:hover{
    background-color: forestgreen;
    padding: 10px;
    transition-duration: 1s;
}

.dropdown-menu {
    position: absolute;
    width: 50%;
    background-color: lightgrey;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding-left: 0;
    border: 2px solid;
    border-radius: 5%;
    opacity: 0;
    transition: 0.5s;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
}

.dropdown h3:hover {
 cursor: pointer;
}

            /* media quarry */
            
@media only screen and (max-width: 768px) {
    ul{
    flex-direction: column;
}
}
    
