@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
}




#ROW1 {

background-color:seagreen;
color: white;

}


#FB {

background-color:lightgrey;
color:seagreen;
font-weight: bold;


}

table {

    width: 500px;
    height: 125px;
    border-collapse: collapse;

}

td{
    text-align: center;
}